<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Bot Club | Topluluk | Bot Yardım | Kod Paylaşım">
    <meta name="keywords" content="kod, discord, bot, discord.js, copy, paste, copy paste, hazır kod, bot kodları">
    <meta name="copyright" content="Bot Club">
    <meta name="author" content="Bot Club">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/821735295681822723/822055353205391360/discord-avatar-512.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/gerekli.css">
 
    
  </head>
  <body class="bg-dark text-white">  
    
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #23272a;">
      <a class="navbar-brand" href="/"><img style="border-radius:50%" width="50" height="50" src="https://cdn.discordapp.com/attachments/817327388605939743/822047215429484564/discord-avatar-256-animated_3.gif">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          
          
                   <div class="ccc">
           <a class="nav-link" href="/"><i class="fas fa-home"></i> Ana Sayfa</a>
          </div>
 <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"><i class="fas fa-code"></i> Kodlar</a>
                <ul class="dropdown-menu animate slideIn" aria-labelledby="dropdown1">
                    <a class="dropdown-item" title="JavaScript V12" href="/normal">JavaScript</a>
                    <a class="dropdown-item" title="Altyapılar V12 | V11" href="/hazir">Altyapılar</a>
                    <a class="dropdown-item" title="Html" href="/kodlar/html">Html</a>
                    <a class="dropdown-item" title="Sizden Gelen Kodlar" href="/topluluk">Sizden Gelenler</a>
                                <div class="dropdown-divider"></div>

	  <li class="nav-item dropdown"><a class="dropdown-item"> Daha Fazla » </a>
		 <ul class="submenu dropdown-menu animate slideIn" data-toggle="dropdown">
		    <a class="dropdown-item" title="Bot Club" href="/normal"> Eklenecek</a>
		 </ul>
	  </li>
        
        
                </ul>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/davet"><i class="fab fa-discord"></i>  Discord</a>
          </li>
          
                      </li>
          <li class="nav-item">
            <a class="nav-link" href="/ekip"><i class="fas fa-users"></i> Ekip</a>
          </li>

        
                  <li class="nav-item">
            <a class="nav-link" href="/ortaklar"> <i class="fas fa-handshake"></i> Ortaklar</a>
          </li>

                 <li class="nav-item">
            <a class="nav-link" href="/sss"><i class="fas fa-info-circle"></i> Bilgi</a>
          </li>        
         
          
        </ul>
        {{#if user}}
        
          <div class="dropdown">
         <div class="utku">
           

               <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> <b>{{user.username}} </b><i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item profilim" href="/profil/{{user.id}}"><i class="fas fa-user"></i><b> Profilim</b></a>
              <a class="dropdown-item profilim" href="/paylas"><i class="far fa-plus-square"></i><b> Kod Ekle</b></a>
 
              
              
              
              
              
                                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" title="Çıkış Yap" href="/cikis"><i class="fas fa-sign-out-alt"></i><b> Çıkış Yap</b></a>
                </ul>
            </div>
          </div>
</div>
        
        {{else}}
        <ul class="navbar-nav ml-auto">

           <a href="/giris" title="Login" class="btn btn-outline-primary"> Discord ile giriş yap</a>
          
        </ul>
    </div>
    </div>
        {{/if}}
      </div>
    </nav>
    
    
    {{{body}}}
    <br><br><br>
    
<svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
    <defs>
        <style>
            .a {
                fill: none;
            }
            
            .be {
                clip-path: url(#a);
            }
            
            .ce,
            .de {
                fill: #23272a;
            }
            
            .de {
                opacity: 0.5;
                isolation: isolate;
            }
        </style>
        <clipPath id="a">
            <rect class="a" width="1920" height="75"></rect>
        </clipPath>
    </defs>
    <title>wave</title>
    <g class="be">
        <path class="ce" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
    </g>
    <g class="be">
        <path class="de" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
    </g>
    <g class="be">
        <path class="de" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
    </g>
    <g class="be">
        <path class="de" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
    </g>
</svg>
    <footer class="bg-vcodes">
    <div class="bg-vcodes py-4">
      <div class="container text-center">

          <p class="text-muted mb-0 py-2">Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi</p>
        <p class="text-muted">
          Bütün hakları saklıdır | <a class="copy-link" title="Lord Bot Club" href="https://www.youtube.com/c/Lordcreative/featured">Discord Sunucumuz</a> 
        </p>
      </div>
    </div>
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
  </body>
</html>
  
  