<main class="text-light">
    
<title>Bot Club | Ekip</title>
    <br>
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Yetkililer</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 20px;">
            <div class="col">

            
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Lord Creative">Lord Creative</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/icons/799726841236684801/a_2c3fa1eac558685e8135914fc0e578c4.gif">
                    </div>
                </div>
              
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Asreaper">Asreaper</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/664146094183284776/5ed23041b5a4fd83b715b46c6c6781e6.png?size=128">
                    </div>
                </div>
              
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Dizzy">Dizzy</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/592603392195428374/224f79a49ebb32c3153ebf4ebc597475.png?size=128">
                    </div>
                </div>

                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Gweep">Gweep Creative</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/586822327568695317/9e853753fa1476739cef5145c520c94b.gif">
                    </div>
                </div>

                <div class="profile" style="background: linear-gradient(-35deg, rgba(49, 253, 219, 0.5) 20%, rgb(47, 208, 229) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Admin">Admin</h1>
                        <h2>Admin</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/609824441438044164/9f7cac9f47617334bbe5c2d440b678bf.webp">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Destekçiler</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 3px;">
            <div class="col">
                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Boş">Boş</h1>
                        <h2>Booster</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">
                    </div>
                </div>
               
                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Boş">Boş</h1>
                        <h2>Booster</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>