<title>Creative Devs | HATA</title>
<main>
  <div class="container">
    <div class="alert alert-danger mt-3">
      <p class="h3">Hata Kodu: {{statuscode}}</p>
      <p>{{message}}</p>
    </div>
    <button class="btn btn-primary" onclick="goBack()">Geri Dön</button>
  </div>
</main>