
<title>Bot Club | Ana Sayfa</title>
<br><br>

<main class="text-center text-light" style="display: flex;min-height: calc(100vh - 188px);align-items: center; justify-content: center">
        <div>
          		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/attachments/817327388605939743/822047737087393792/discord-avatar-256-animated_4.gif">
                <h1 style="font-weight: bold; color: #7289d8;">Bot Club</h1>
                <h4>Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi </h4>
                <br>
                <a type="button" href="https://www.youtube.com/c/Lordcreative/featured" target="_blank" class="btn btn-light"><i style="color:black" class="fab fa-youtube"></i><b> YouTube</b></a>
                <a type="button" href="/davet" target="_blank" class="btn btn-light"><i style="color:black" class="fab fa-discord"></i><b> Discord</b></a>
                <a type="button" href="/" target="_blank" class="btn btn-light"><i style="color:black" class="fas fa-envelope"></i> <b>İletişim</b></a>
                <a type="button" href="/sss" class="btn btn-light"><i class="fas fa-info-circle"></i> <b>Bilgi</b></a>
        </div>
  <div class="wave wave1"></div>
</main>

