
  <title>Bot Club | Ortaklar</title>
<br><br><br>
<div id="discordcard" class="container">
<h1 style="color: #fff;">
<i class="fas fa-handshake"></i> Ortaklar
  </h1>
  <div class="vcodes_divider"></div>
    <div class="row pt-5 m-auto">
      
      
      <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom discordcard border-white border-0" style="background-color: #2f3136">
          <div class="card-custom-img" style="background-image: url(https://cdn.discordapp.com/attachments/828997367675224127/829001303119233074/lol.png"></div>
          <div class="container">
         <div class="card-custom-avatar" style="background-color: #2f3136">
            <img class="img-fluid" src="https://cdn.discordapp.com/icons/799726841236684801/a_2c3fa1eac558685e8135914fc0e578c4.gif" alt="Avatar">
          </div>
          </div>
          
          <div class="card-body" style="overflow-y: auto; background-color: #2f3136">
            <h2 style="font-size: 24px;" class="card-title">UtkuJS</h2>
            <p class="card-text text-muted">Sitenin Ortaklarından Olan Utku'nun YouTube Kanalının Resmi Discord Sunucusu</p>
            <br><p class="card-text text-muted"><i class="fas fa-user"></i> Lord Creative</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: transparent; background-color: #2f3136">
           <a href="/davet" title="Creative" class="btn btn-outline-primary"> Sunucuya Katıl</a>
          </div>
        </div>
      </div>
      
            <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom discordcard border-white border-0" style="background-color: #2f3136">
          <div class="card-custom-img" style="background-image: url(https://cdn.discordapp.com/attachments/828997367675224127/829001284451303424/Discord_Banner.png);"></div>
          <div class="container">
         <div class="card-custom-avatar" style="background-color: #2f3136">
            <img class="img-fluid" src="https://cdn.discordapp.com/attachments/828997367675224127/829010449051811911/discord-avatar-512-animated.gif" alt="Avatar">
          </div>
          </div>
          
          <div class="card-body" style="overflow-y: auto; background-color: #2f3136">
            <h2 style="font-size: 24px;" class="card-title">Dizzy ve Agalar</h2>
            <p class="card-text text-muted">Sitenin Ortaklarından Olan Dizzy'nin YouTube Kanalının Resmi Discord Sunucusu</p>
            <br><p class="card-text text-muted"><i class="fas fa-user"></i> dizzy#8731</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: transparent; background-color: #2f3136">
           <a href="/davet" title="Creative" class="btn btn-outline-primary"> Sunucuya Katıl</a>
          </div>
        </div>
      </div>
      
                 <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom discordcard border-white border-0" style="background-color: #2f3136">
          <div class="card-custom-img" style="background-image: url(https://cdn.discordapp.com/attachments/828997367675224127/829001306869858345/lol1.png);"></div>
          <div class="container">
         <div class="card-custom-avatar" style="background-color: #2f3136">
            <img class="img-fluid" src="https://cdn.discordapp.com/icons/720554756556324914/a_3368c4fc494d8bddecd344d045872582.gif?size=1024" alt="Avatar">
          </div>
          </div>
          
          <div class="card-body" style="overflow-y: auto; background-color: #2f3136">
            <h2 style="font-size: 24px;" class="card-title">Rabel</h2>
            <p class="card-text text-muted">Sitenin Ortaklarından Olan Gweep'in YouTube Kanalının Resmi Discord Sunucusu</p>
            <br><p class="card-text text-muted"><i class="fas fa-user"></i> Gweep Creative#5804</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: transparent; background-color: #2f3136">
           <a href="/davet" title="Creative" class="btn btn-outline-primary"> Sunucuya Katıl</a>
          </div>
        </div>
      </div>
      
                       <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom discordcard border-white border-0" style="background-color: #2f3136">
          <div class="card-custom-img" style="background-image: url(https://images2.alphacoders.com/112/thumbbig-1128586.png);"></div>
          <div class="container">
         <div class="card-custom-avatar" style="background-color: #2f3136">
            <img class="img-fluid" src="https://emoji.gg/assets/emoji/2191_wumpus_nitro.gif" alt="Avatar">
          </div>
          </div>
          
          <div class="card-body" style="overflow-y: auto; background-color: #2f3136">
            <h2 style="font-size: 24px;" class="card-title">MaximusBoys</h2>
            <p class="card-text text-muted">Sitenin Ortaklarından Olan Asreaper'ın YouTube Kanalının Resmi Discord Sunucusu</p>
            <br><p class="card-text text-muted"><i class="fas fa-user"></i> Asreaper#4423</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: transparent; background-color: #2f3136">
           <a href="/davet" title="Creative" class="btn btn-outline-primary"> Sunucuya Katıl</a>
          </div>
        </div>
      </div>
     
                          <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom discordcard border-white border-0" style="background-color: #2f3136">
          <div class="card-custom-img" style="background-image: url(https://i.imgur.com/icxRhjX.jpg);"></div>
          <div class="container">
         <div class="card-custom-avatar" style="background-color: #2f3136">
            <img class="img-fluid" src="https://i.redd.it/03xbhgf1w7w51.gif" alt="Avatar">
          </div>
          </div>
          
          <div class="card-body" style="overflow-y: auto; background-color: #2f3136">
            <h2 style="font-size: 24px;" class="card-title">Wenzy</h2>
            <p class="card-text text-muted">Sitenin Ortaklarından Olan Lrows'un YouTube Kanalının Resmi Discord Sunucusu</p>
            <br><p class="card-text text-muted"><i class="fas fa-user"></i> Lrows#1701</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: transparent; background-color: #2f3136">
           <a href="/davet" title="Creative" class="btn btn-outline-primary"> Sunucuya Katıl</a>
          </div>
        </div>
      </div>
      
                                   <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom discordcard border-white border-0" style="background-color: #2f3136">
          <div class="card-custom-img" style="background-image: url(https://hwp.com.tr/wp-content/uploads/2020/11/discord-logo.jpg);"></div>
          <div class="container">
         <div class="card-custom-avatar" style="background-color: #2f3136">
            <img class="img-fluid" src="https://yt3.ggpht.com/ytc/AAUvwniEUaBNWbH9Pk7A1cmIBdxnYt0YYrgNKx5h8grSMA=s900-c-k-c0x00ffffff-no-rj" alt="Avatar">
          </div>
          </div>
          
          <div class="card-body" style="overflow-y: auto; background-color: #2f3136">
            <h2 style="font-size: 24px;" class="card-title">ORTAK ARANIYOR</h2>
            <p class="card-text text-muted">Sitemize Ortak Aranıyor. Ortak Olmak İstiyorsanız Lütfen Discord Üzerinden İletişime Geçin</p>
            <br><p class="card-text text-muted"><i class="fas fa-user"></i> Boş</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: transparent; background-color: #2f3136">
           <a href="/davet" title="Creative" class="btn btn-outline-primary"> Sunucuya Katıl</a>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
