<title>Bot Club | Bilgilendirme</title>
<br><br>
<main>
  <div class="container" style="padding: 1rem;">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
      <div>
          		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/attachments/817327388605939743/822047737087393792/discord-avatar-256-animated_4.gif">
      </div>
      <h1 class="text-light font-weight-light">Selam, Bot Club Bilgilendirme</h1>
    </div><br>
      <h3 class="text-danger">Website herhangi bir bilgime ulaşabilir mi?</h3>
    <hr>
      </li>
      <li>Bu soru bize defalarca kez soruldu ve bu cevabı buradan verelim. Siz discord ile giriş yaptığınız zaman sizin hangi discord verilerinize ulaşabileceğimiz</li>
      <li>orada yazmaktadır. Bu 3. taraf bir yazılım değil, Discord tarafından bize verilen bir özelliktir. Bu giriş sistemini gerekli bilgi ile siz bile yapabilirsiniz. Ayrıca</li>
      <li>sizin herhangi bir kişisel verinizi database da tutmadığımızı ve herhangi bir bilginin kayıt altına alınmadığını da söylemek istiyoruz. Sizden giriş yaparken</li>
        <li>istediğimiz bilgiler ise şu işe yarıyor;</li>
  
  
  <li>Kullanıcı adı ve avatarına eriş: Bu bilgi ilede sitemiz de bulunan profil sayfası, özel üyelerimiz sayfası, kod paylaşırsanız kod paylaşan kişinin bilgileri gibi</li>
  <li>ufak tefek bilgileri çekiyoruz.</li>
    <li>Hangi sunucular da olduğunu bil: Bu bilgi ile bizim sunucumuz da var mısınız? Eğer varsanız ulaşmak istediğiniz kod kategorisini görmek için gerekli</li>
   <li>rollere sunucumuz da sahip misiniz? Bu bilgileri sorgularız ve herhangi bir datayı kayıt altına almayız.</li>
    </ul><br>

        <h3 class="text-danger">Bot Club Sık Sorulan Sorular</h3>
    <hr>
      </li>
      <li>Kodları Görebilmek İçin, Rollerine Sahip Olmalısınız. Rollere erişebilmek için yanlarında belirtilmiş davet sayısına ulaşmanız gerekiyor. JavasScript Kodları herkese açıktır, siteden ulaşabilirsiniz.</li>
      <li>Sunucuyu Boostlayanlar Tüm Kodları Görebilmektedirler.</li>
      <li>Davet Bilginizi görmek için <kbd>!invites</kbd> Yazmanız Yeterlidir.</li>
    </ul><br>
     <h3 class="text-danger">Bilgilendirme</h3>
    <hr>
  
      <li class="text-light font-weight-light">Kodlarımız artık bu site üzerinden paylaşılmaktadır.</li>
      <li class="text-light font-weight-light">Sitemizde kendi kodlarınızı da paylaşabilirsiniz. (Trolleyenler kod paylaşamayacaktır)</li>
      <li class="text-light font-weight-light">Sitede sağ üst köşede bulunan `Giriş Yap` seçeneğine basıp giriş yapmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">Giriş yaptıktan sonra görme izniniz olan kodları görebileceksiniz.</li>
      <li class="text-light font-weight-light">Normal Kodları ve Topluluk Kodlarını (Sizden Gelenler) herkes görebilir.</li>
      <li class="text-light font-weight-light">Geri kalan kodlara erişebilmek için, sunucuda o kod kategorisinin rolüne sahip olmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">
        Kod rollerine sahip olmak için sunucumuzda belirli davet sayılarına ulaşmanız gerekmektedir.
        <ul>
          <li class="text-light font-weight-light"><b>Normal Kodlar:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Topluluk Kodları:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Altın Kodlar:</b> Sunucuya 5 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Elmas Kodlar:</b> Sunucuya 10 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Hazır Sistemler:</b> Sunucuya 15 kişi davet etmelisiniz.</li>
        </ul>
      </li>      
    </ul>
    <br>
     <h3 class="text-danger">Kodlara Erişebilmek İçin Yapmanız Gerekenler</h3>
    <hr>
    <ul>
      <li class="text-light font-weight-light"><a href="/davet" target="_blank">Discord Sunucumuza</a> katılmanız gerekmektedir.</li>
      <li class="text-light font-weight-light">Discord hesabınızla <a href="/giris" target="_blank">giriş yapmanız</a> gerekmektedir.</li>
      <li class="text-light font-weight-light">
        Kategorileri görmek için: 
        <ul>
          <li class="text-light font-weight-light"><b>JavaScript:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Topluluk Kodları:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Altın Kodlar:</b> Sunucuya 5 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Elmas Kodlar:</b> Sunucuya 10 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Hazır Sistemler:</b> Sunucuya 15 kişi davet etmelisiniz.</li>
        </ul>
      </li>
      
       <h3 class="text-danger">Bir yetkiliniz benden izinsiz kodumu paylaşmış?</h3>
    <hr>
    <ul>
<li>Böyle bir durumda Moderatör ve üstü kişilere yazmanız yeterli olacaktır. Geri kalan işlemleri onlarla aranızda halledebilirsiniz.</li>
    </ul>
    <hr>
    </p>
  </div>
</main>